- flash.each do |category, message| 
  %div{ class: "alert #{category == 'alert' ? 'alert-danger' : 'alert-success'}"}
    - if message.instance_of?(Array)
      - message.each do |m|
        = m
    - else
      = message