- if current_user
  = link_to 'Logout', destroy_user_session_url, method: :delete, class: "btn btn-secondary"
- else
  = link_to 'Login', new_user_session_url, class: "btn btn-secondary"
  = link_to 'Signup', new_user_registration_url, class: "btn btn-secondary"