.navbar.navbar-light.fixed-top
  .container-fluid
    .d-flex.flex-row-reverse.w-100
      .shadow
        .navbar-toggler{"aria-controls" => "offcanvasNavbar", "data-bs-target" => "#offcanvasNavbar", "data-bs-toggle" => "offcanvas", :type => "button"}
          .navbar-toggler-icon
    #offcanvasNavbar.offcanvas.offcanvas-end{"aria-labelledby" => "offcanvasNavbarLabel", :tabindex => "-1"}
      .offcanvas-header
        #offcanvasNavbarLabel.offcanvas-title.fs-2 Travel Log
        .btn-close.text-reset{"aria-label" => "Close", "data-bs-dismiss" => "offcanvas", :type => "button"}
      .offcanvas-body
        .navbar-nav.justify-content-end.flex-grow-1.pe-3.mb-5
          .nav-item
            = link_to 'Home', root_url, class: "nav-link"
        = link_to 'Logout', destroy_user_session_url, method: :delete, class: "btn btn-secondary"